<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.eclipse.wst.common.uriresolver.resolverExtensions">
        <resolverExtension priority="high" stage="prenormalization"
            class="com.alibaba.ide.plugin.eclipse.springext.resolver.SpringExtSchemaResolver" />
    </extension>
    <extension point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
        <urlStreamHandlerService protocol="springext"
            serviceClass="com.alibaba.ide.plugin.eclipse.springext.resolver.SpringExtURLStreamHandler" />
    </extension>
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectorTargets">
        <target id="com.alibaba.ide.plugin.eclipse.springext.configFile"
            name="com.alibaba.ide.plugin.eclipse.springext.configFile" />
    </extension>
    <extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
        <hyperlinkDetector targetId="com.alibaba.ide.plugin.eclipse.springext.configFile"
            id="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.XmlElementHyperlinkDetector"
            name="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.XmlElementHyperlinkDetector"
            class="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.XmlElementHyperlinkDetector" />
        <hyperlinkDetector targetId="com.alibaba.ide.plugin.eclipse.springext.configFile"
            id="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.URLHyperlinkDetector"
            name="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.URLHyperlinkDetector"
            class="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.URLHyperlinkDetector" />
        <hyperlinkDetector targetId="com.alibaba.ide.plugin.eclipse.springext.configFile"
            id="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.JavaHyperlinkDetector"
            name="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.JavaHyperlinkDetector"
            class="com.alibaba.ide.plugin.eclipse.springext.hyperlink.detector.JavaHyperlinkDetector" />
    </extension>
    <extension point="org.eclipse.core.contenttype.contentTypes">
        <content-type base-type="org.eclipse.core.runtime.xml" default-charset="UTF-8"
            id="com.alibaba.ide.plugin.eclipse.springext.configFile" name="%configFileContentTypeName" priority="high">
            <describer class="org.eclipse.core.runtime.content.XMLRootElementContentDescriber2">
                <parameter name="element" value="{http://www.springframework.org/schema/beans}beans" />
            </describer>
        </content-type>
        <content-type base-type="org.eclipse.core.runtime.properties" default-charset="UTF-8"
            id="com.alibaba.ide.plugin.eclipse.springext.configurationPointDefinitionFile"
            name="%configurationPointDefinitionFileContentTypeName" file-names="spring.configuration-points"
            priority="high" />
        <content-type base-type="org.eclipse.core.runtime.properties" default-charset="UTF-8"
            id="com.alibaba.ide.plugin.eclipse.springext.contributionDefinitionFile"
            name="%contributionDefinitionFileContentTypeName"
            file-extensions="bean-definition-parsers, bean-definition-decorators, bean-definition-decorators-for-attribute"
            priority="high" />
        <content-type base-type="org.eclipse.core.runtime.properties" default-charset="UTF-8"
            id="com.alibaba.ide.plugin.eclipse.springext.springPluggableDefinitionFile"
            name="%springPluggableDefinitionFileContentTypeName" file-names="spring.schemas, spring.handlers"
            priority="high" />
    </extension>
    <extension point="org.eclipse.ui.editors">
        <editor id="com.alibaba.ide.plugin.eclipse.springext.editor.config.SpringExtConfigEditor"
            class="com.alibaba.ide.plugin.eclipse.springext.editor.config.SpringExtConfigEditor"
            contributorClass="com.alibaba.ide.plugin.eclipse.springext.editor.config.SpringExtConfigEditorContributor"
            default="true" icon="icons/springext.png" name="%configFileEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="com.alibaba.ide.plugin.eclipse.springext.configFile" />
        </editor>
        <editor id="com.alibaba.ide.plugin.eclipse.springext.editor.component.cp.ConfigurationPointEditor"
            class="com.alibaba.ide.plugin.eclipse.springext.editor.component.cp.ConfigurationPointEditor"
            contributorClass="com.alibaba.ide.plugin.eclipse.springext.editor.component.cp.ConfigurationPointEditorContributor"
            default="true" icon="icons/socket.png" name="%configurationPointEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="com.alibaba.ide.plugin.eclipse.springext.configurationPointDefinitionFile" />
        </editor>
        <editor id="com.alibaba.ide.plugin.eclipse.springext.editor.component.contrib.ContributionEditor"
            class="com.alibaba.ide.plugin.eclipse.springext.editor.component.contrib.ContributionEditor"
            contributorClass="com.alibaba.ide.plugin.eclipse.springext.editor.component.contrib.ContributionEditorContributor"
            default="true" icon="icons/plug.png" name="%contributionEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="com.alibaba.ide.plugin.eclipse.springext.contributionDefinitionFile" />
        </editor>
        <editor id="com.alibaba.ide.plugin.eclipse.springext.editor.component.spring.SpringPluggableSchemaEditor"
            class="com.alibaba.ide.plugin.eclipse.springext.editor.component.spring.SpringPluggableSchemaEditor"
            contributorClass="com.alibaba.ide.plugin.eclipse.springext.editor.component.spring.SpringPluggableSchemaEditorContributor"
            default="true" icon="icons/spring-lighter.png" name="%springPluggableSchemaEditorName"
            symbolicFontName="org.eclipse.wst.sse.ui.textfont">
            <contentTypeBinding contentTypeId="com.alibaba.ide.plugin.eclipse.springext.springPluggableDefinitionFile" />
        </editor>
    </extension>
    <extension point="org.eclipse.wst.sse.ui.completionProposal">
        <proposalComputer activate="false" categoryId="org.eclipse.wst.xml.ui.proposalCategory.xmlTags"
            class="com.alibaba.ide.plugin.eclipse.springext.completion.SpringExtXMLCompletionProposalComputer"
            id="com.alibaba.ide.plugin.eclipse.springext.completion.SpringExtXMLCompletionProposalComputer">
            <contentType id="org.eclipse.core.runtime.xml" />
        </proposalComputer>
    </extension>
    <extension point="org.eclipse.wst.sse.ui.editorConfiguration">
        <sourceViewerConfiguration
            class="com.alibaba.ide.plugin.eclipse.springext.editor.ContextualStructuredTextEditor$StructuredTextViewerConfigurationSpringExtXML"
            target="com.alibaba.ide.plugin.eclipse.springext.editor.ContextualStructuredTextEditor" />
    </extension>
</plugin>
