<?xml version="1.0" encoding="GB18030"?>
<configuration debug="false">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoding>GB18030</encoding>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>[%-5level] %logger - %msg%n</pattern>
        </layout>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
