<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.wst.common.uriresolver.resolverExtensions">
		<resolverExtension priority="high" stage="prenormalization"
			class="com.alibaba.eclipse.plugin.webx.extension.resolver.SpringExtSchemaResolver"/>
	</extension>
	<extension point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
		<urlStreamHandlerService protocol="springext"
			serviceClass="com.alibaba.eclipse.plugin.webx.extension.resolver.SpringExtURLStreamHandler"
		/>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.XmlElementHyperlinkDetector"
			id="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.XmlElementHyperlinkDetector"
			name="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.XmlElementHyperlinkDetector"
			targetId="org.eclipse.core.runtime.xml"/>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.URLHyperlinkDetector"
			id="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.URLHyperlinkDetector"
			name="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.URLHyperlinkDetector"
			targetId="org.eclipse.ui.DefaultTextEditor"/>
	</extension>
	<extension point="org.eclipse.ui.workbench.texteditor.hyperlinkDetectors">
		<hyperlinkDetector
			class="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.JavaHyperlinkDetector"
			id="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.JavaHyperlinkDetector"
			name="com.alibaba.eclipse.plugin.webx.extension.hyperlink.detector.JavaHyperlinkDetector"
			targetId="org.eclipse.ui.DefaultTextEditor"/>
	</extension>
 <extension
       point="org.eclipse.wst.sse.ui.completionProposal">
 </extension>
</plugin>
